ul.popis
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li.traka
  {
    float: left;
    border-right: 1px solid #bbb;
  }
  li.traka a
  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li.traka a:hover 
  {
    background-color: #111;
  }
  .active 
  {
    background-color: #990099; 
  }
  .slika
  {
    background-image: url(ts2.jpg);
    background-position-y: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 150px;
  }
  h1
  {
    font-size: 100px;
    font-style: italic;
    text-align: center;
    color: black;
  }
  p.pocetna
  {
    text-align: justify;
    background-color: #cc33ff;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
  }
  .albumi
  {
    float: left;
    color: #9900cc;
  }
  .album
  {
    float: left;
    color: black;
  }
  ol li a, ol li a:visited
  {
    color: #9900cc;
  }
  body
  {
    background-color: #ffe6ff;
    font-family: 'Times New Roman', Times, serif;
  }
  .lyrics
  {
    color: black;
    font-size: 17px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
  h3
  {
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
  .tablica 
  {
    margin-right : auto;
    margin-left : auto;
    width : 50%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  th, td 
  {
    border-bottom: 1px solid black;
  }
  .koncerti
  {
    text-align: center;
    color: #9900cc;
    font-family: 'Times New Roman', Times, serif;
  }
  