ul.popis
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li.traka
  {
    float: left;
    border-right: 1px solid #bbb;
  }
  li.traka a
  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li.traka a:hover 
  {
    background-color: #111;
  }
  .active 
  {
    background-color: #990099; 
  }
  .slika
  {
    background-image: url(ts2.jpg);
    background-position-y: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 100;
  }
  h1
  {
    font-size: 100px;
    font-style: italic;
    text-align: center;
    color: black;
  }
  p.pocetna
  {
    font-size: 20px;
    text-align: justify;
    background-color: #cc33ff;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  .albumi
  {
    float: left;
    color: #9900cc;
  }
  body
  {
    background-color: #ffe6ff;
  }